*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Georgia, serif;
  background:#f8f6f2;
  color:#111;
  overflow-x:hidden;
}

/* Header */
header{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  padding:18px 7%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  background:rgba(255,255,255,.9);
  backdrop-filter:blur(12px);
  z-index:1000;
}

.logo img{
  width:150px;
}

nav{
  display:flex;
  gap:35px;
}

nav a{
  text-decoration:none;
  color:#111;
}

.menu-btn{
  display:none;
  font-size:28px;
  cursor:pointer;
}

/* Product */
.product-page{
  padding:140px 8% 80px;
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:60px;
  align-items:center;
}

.product-image img{
  width:100%;
  border-radius:22px;
  box-shadow:0 20px 40px rgba(0,0,0,.08);
}

.mini{
  letter-spacing:3px;
  color:#777;
  margin-bottom:15px;
}

.product-info h1{
  font-size:52px;
  margin-bottom:15px;
}

.product-info h2{
  font-size:34px;
  margin-bottom:20px;
}

.desc{
  color:#555;
  line-height:1.8;
  margin-bottom:30px;
}

/* Sizes */
.sizes{
  display:flex;
  gap:12px;
  margin-bottom:25px;
}

.sizes button{
  width:52px;
  height:52px;
  border:none;
  background:#fff;
  border-radius:12px;
  cursor:pointer;
  transition:.3s;
}

.sizes button:hover{
  background:#111;
  color:#fff;
}

/* Qty */
.qty-box{
  display:flex;
  align-items:center;
  gap:18px;
  margin-bottom:28px;
}

.qty-box button{
  width:42px;
  height:42px;
  border:none;
  border-radius:10px;
  background:#111;
  color:#fff;
  cursor:pointer;
}

/* Buttons */
.add-cart,
.buy-now{
  display:block;
  width:100%;
  padding:16px;
  border:none;
  text-align:center;
  text-decoration:none;
  border-radius:40px;
  margin-bottom:14px;
  font-size:16px;
  cursor:pointer;
  transition:.3s;
}

.add-cart{
  background:#111;
  color:#fff;
}

.buy-now{
  background:#fff;
  color:#111;
}

.add-cart:hover,
.buy-now:hover{
  transform:translateY(-4px);
}

/* Related */
.related{
  padding:40px 8% 100px;
}

.related h2{
  text-align:center;
  font-size:42px;
  margin-bottom:45px;
}

.related-grid{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:28px;
}

.r-card{
  background:#fff;
  padding:22px;
  border-radius:18px;
  text-decoration:none;
  color:#111;
}

.r-card img{
  width:100%;
  height:320px;
  object-fit:cover;
  border-radius:14px;
}

.r-card h3{
  margin:18px 0 8px;
}

/* Mobile */
@media(max-width:900px){

  nav{
    display:none;
  }

  .menu-btn{
    display:block;
  }

  .product-page{
    grid-template-columns:1fr;
  }

  .related-grid{
    grid-template-columns:1fr;
  }

  .product-info h1{
    font-size:38px;
  }

}